[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
openmensa-api = "*"
requests = "*"
beautifulsoup4 = "*"
slackclient = "*"

[requires]
python_version = "3.6"

[scripts]
bot = "python mensabot.py"
